.cf_center{margin-left: auto;margin-right: auto;}
.showlist_module{background: url("Images/WEBimage/N_jjT.jpg") no-repeat; 
	            height:29px}
.main_html{width:1002px;text-align: center;background: #e3e3e3;height: 500px;margin-top: 20px;padding-top: 8px;overflow: hidden;white-space:nowrap;}
.main_html1{width: 972px;}
.main_left{width:234px;background: #aaaaaa;display: inline-block;overflow: hidden;vertical-align:top;margin-right:7px;}
.main_right{width:725px;height:500px;display: inline-block;overflow: hidden;vertical-align:top;background: #ffffff;}
#main_left_top{ background:url(../Images/WEBimage/N_lbT.jpg) no-repeat;height:32px;line-height: 32px;padding-left: 0px;text-align: left;}
#main_right_top{background: url(../Images/WEBimage/N_jjT.jpg) no-repeat;height: 32px;margin-bottom: 15px;}
#main_right_top>div{position: relative;top: 50%;transform: translateY(-50%);margin-right: 10px;}
#menu_ul li{FONT-SIZE: 12px; COLOR: #256ab5; LINE-HEIGHT: 40px; FONT-FAMILY:"宋体", Helvetica, sans-serif, Verdana; TEXT-DECORATION: none; text-align:left; font-weight:bold; text-indent:15px; width:234px; background:url(../Images/WEBimage/N_lbyjbg.jpg); background-repeat:no-repeat; display:block; list-style-type:none;
	}
.product_module{width: 696px;}
.product_module_top{background: url(../Images/WEBimage/CP_Tbg.jpg) no-repeat;height: 29px;}
.product_module_top span{float: left;line-height: 29px;}
.product_module_main{white-space: normal;display: flex;flex-wrap:wrap;}
.product_module_1{width: 150px;margin-top: 40px;padding-left: 8px;display: inline-block;margin-right: 10px;margin-left: 1px;}
.product_img{height:113px;}
.product_img img{  width: auto;  height: auto;  max-width: 100%;  max-height: 100%; }
.real_line{background: url(../Images/WEBimage/CP_FG.jpg) repeat-x;height: 23px;} 